/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        screenshot {
            bindings = <&kp LG(LS(NUMBER_4))>;
            key-positions = <36 17>;
        };

        emoji {
            bindings = <&kp LC(LG(SPACE))>;
            key-positions = <36 15>;
        };

        sswholescreen {
            bindings = <&kp LG(LS(NUMBER_3))>;
            key-positions = <36 16>;
        };
    };

    macros {
        option_up: option_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(UP_ARROW)>;
            label = "OPTION_UP";
        };

        option_left: option_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LEFT)>;
            label = "OPTION_LEFT";
        };

        option_right: option_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(RIGHT)>;
            label = "OPTION_RIGHT";
        };

        option_down: option_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(DOWN)>;
            label = "OPTION_DOWN";
        };

        option_backspace: option_backspace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(BACKSPACE)>;
            label = "OPTION_BACKSPACE";
        };
    };

    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E  &kp R             &kp T    &kp Y    &kp U                  &kp I              &kp O    &kp P     &kp BSPC
&kp LEFT_SHIFT    &kp A  &kp S  &kp D  &kp F             &kp G    &kp H    &kp J                  &kp K              &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C  &kp V             &kp B    &kp N    &kp M                  &kp COMMA          &kp DOT  &kp FSLH  &kp ESC
                                &mo 2  &kp LEFT_COMMAND  &mo 1    &kp RET  &new_behavior 3 SPACE  &kp RIGHT_COMMAND
            >;
        };

        coding {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &kp SPACE             &trans
            >;
        };

        math {
            bindings = <
&kp GRAVE       &kp N1     &kp N2         &kp N3         &kp N4            &kp N5           &kp N6           &kp N7        &kp N8          &kp N9  &kp N0         &kp BACKSPACE
&kp LEFT_SHIFT  &kp TILDE  &kp BACKSLASH  &kp PIPE       &kp CARET         &kp AMPERSAND    &kp KP_ASTERISK  &kp KP_PLUS   &kp KP_EQUAL    &trans  &kp SEMICOLON  &trans
&trans          &trans     &trans         &kp LESS_THAN  &kp GREATER_THAN  &trans           &kp KP_SLASH     &kp KP_MINUS  &kp UNDERSCORE  &trans  &trans         &trans
                                          &trans         &trans            &trans           &trans           &kp SPACE     &trans
            >;
        };

        controls {
            bindings = <
&trans  &trans  &trans     &trans    &trans     &kp LG(BSPC)    &kp LG(LEFT)  &kp LG(DOWN)  &kp LG(UP)  &kp LG(RIGHT)  &trans  &kp BACKSPACE
&trans  &trans  &kp LCTRL  &kp LALT  &kp LGUI   &kp BSPC        &kp LEFT      &kp DOWN      &kp UP      &kp RIGHT      &trans  &trans
&trans  &trans  &trans     &trans    &trans     &kp LA(BSPC)    &kp LA(LEFT)  &kp LA(DOWN)  &kp LA(UP)  &kp LA(RIGHT)  &trans  &trans
                           &trans    &kp LSHFT  &trans          &trans        &trans        &trans
            >;
        };
    };
};
